---
const { base = "", t } = Astro.props;
---

<div
  id="overlay"
  class="fixed top-0 left-0 w-screen h-screen bg-oscuro opacity-0 transition-all duration-300 ease-in-out pointer-events-none z-40 block lg:hidden"
>
</div>
<header id="nav-menu" class="bg-oscuro w-full h-[70px] z-50 sticky top-0">
  <nav
    class="contenedor flex w-full h-full items-center gap-14 justify-center lg:justify-start relative"
  >
    <div id="navigation" class="absolute right-[20px] flex lg:hidden">
      <input
        type="checkbox"
        id="hamburger-toggle"
        aria-label="hamburger"
        aria-controls="menu"
        aria-expanded="false"
      />
      <label for="hamburger-toggle" id="hamburger" aria-hidden="true">
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
      </label>
    </div>
    <a href="/#" aria-label="Ir a Inicio" class="group" data-astro-reload>
      <svg
        class="w-20 h-auto"
        viewBox="0 0 610 250"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="fill-claro group-hover:fill-acento transition-all duration-300 ease-in-out"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M0.664 69.1661C-0.266 166.002 -0.168 236.779 0.896 237.436C1.388 237.741 7.799 236.858 15.142 235.474C22.484 234.091 35.694 232.256 44.496 231.397C53.298 230.537 64.775 229.295 70 228.636L79.5 227.438V186.219C79.5 163.549 79.802 145.113 80.172 145.251C80.762 145.47 105.316 167.258 119.443 180.097C126.098 186.145 156.018 212.915 158.213 214.785C159.725 216.072 162.076 215.881 178.213 213.153C201.997 209.134 211.878 207.889 249 204.239L256.5 203.501L203.5 161.116C174.35 137.804 150.365 118.387 150.2 117.966C149.93 117.276 159.098 110.236 192.5 85.4861C207.935 74.0491 232.757 55.6781 244 47.3691C299.782 6.14906 307 0.761062 307 0.345062C307 0.156062 280.788 0.0240623 248.75 0.0530623L190.5 0.105062L151.337 35.8031C129.797 55.4371 108.662 74.6511 104.37 78.5011C100.078 82.3511 93.002 88.7641 88.645 92.7511C84.289 96.7381 80.449 100.001 80.112 100.001C79.776 100.001 79.621 77.5011 79.768 50.0011L80.036 0.00106227H40.683H1.329L0.664 69.1661ZM322.872 9.59206C318.817 14.8681 310.437 25.7801 304.248 33.8421C298.06 41.9051 290.484 51.7331 287.413 55.6841C284.342 59.6351 281.755 63.2351 281.665 63.6841C281.574 64.1331 322.83 64.7261 373.344 65.0011L465.188 65.5011L446.344 79.7381C435.98 87.5691 419.625 99.9561 410 107.265C372.827 135.496 353.999 149.812 341 159.73C333.575 165.396 319.542 175.987 309.815 183.266C300.088 190.545 292.101 196.839 292.065 197.251C292.029 197.663 292.788 198.003 293.75 198.005C295.431 198.009 324.083 193.05 346 188.962C368.394 184.785 397.412 180.671 422.846 178.067C434.214 176.903 442.874 175.554 443.846 174.796C444.756 174.086 449.621 170.129 454.658 166.003C459.695 161.877 468.92 154.369 475.158 149.318C499.087 129.944 527.912 106.572 537.582 98.7041C543.128 94.1921 554.378 85.1221 562.582 78.5471C581.067 63.7341 592.854 52.0981 595.986 45.5721C599.187 38.9031 599.867 27.4971 597.542 19.4991C595.892 13.8221 592.561 8.37006 588.5 4.70006C583.085 -0.193937 588.621 0.00106227 455.154 0.00106227H330.244L322.872 9.59206ZM593.911 185.424C593.678 185.656 581.116 186.571 565.994 187.456C550.872 188.342 528.15 189.743 515.5 190.57C502.85 191.398 481.925 192.716 469 193.5C456.075 194.284 443.25 195.15 440.5 195.425C437.75 195.701 428.75 196.635 420.5 197.502C412.25 198.368 396.275 199.954 385 201.024C373.725 202.095 353.7 204.322 340.5 205.973C327.3 207.623 311.205 209.633 304.732 210.439C298.26 211.245 292.523 212.178 291.982 212.512C291.442 212.846 291 216.917 291 221.56C291 226.203 290.663 229.998 290.25 229.995C289.837 229.992 285.58 226.801 280.788 222.905L272.076 215.821L253.788 216.966C234.375 218.182 231 218.506 196.5 222.463C184.4 223.851 173.938 224.99 173.25 224.994C170.05 225.012 172.051 227.225 189.409 242.872L197.319 250.001L380.909 249.982L564.5 249.963L573.5 237.331C578.45 230.383 583.976 222.629 585.781 220.099C587.585 217.57 590.06 214.072 591.281 212.325C592.501 210.578 597.212 203.953 601.75 197.604C606.288 191.254 610 185.821 610 185.53C610 184.907 594.53 184.804 593.911 185.424ZM62 235.996C24.075 239.72 2.901 242.326 0.992 243.506C0.447 243.843 0 245.442 0 247.06V250.001H40.044H80.088L79.794 242.751L79.5 235.501L74.5 235.38C71.75 235.314 66.125 235.591 62 235.996Z"
        ></path>
      </svg>
    </a>
    <ul
      id="lista"
      class="fixed lista bg-oscuro lg:bg-transparent lg:relative top-[70px] lg:top-0 p-10 lg:p-0 right-0 w-80 flex flex-col lg:flex-row lg:gap-10 lg:w-full h-[calc(100dvh-70px)] lg:h-full lg:items-center text-lg lg:text-base -z-10 lg:z-10 max-[1024px]:overflow-y-auto"
    >
      <li class="max-[1024px]:w-full max-[1024px]:flex">
        <a
          href={`${base}/#`}
          data-astro-reload
          aria-label="Volver al Inicio"
          class="hover:text-acento font-medium transition-all duration-300 ease-in-out max-[1024px]:py-6 max-[1024px]:border-b max-[1024px]:w-full max-[1024px]:border-claro"
          >{t.home}</a
        >
      </li>
      <li
        class="group max-[1024px]:w-full max-[1024px]:flex max-[1024px]:flex-col"
      >
        <input type="checkbox" id="dropdown-toggle" class="hidden absolute" />
        <label
          for="dropdown-toggle"
          class="group-hover:text-acento font-medium transition-all duration-300 ease-in-out cursor-pointer flex justify-between lg:justify-normal items-center gap-2 max-[1024px]:py-6 max-[1024px]:border-b max-[1024px]:w-full max-[1024px]:border-claro"
          >{t.divisions}
          <svg
            viewBox="0 0 16 10"
            fill="none"
            id="dd-arrow"
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 lg:w-3 h-auto fill-claro group-hover:fill-acento transition-all duration-300 ease-in-out"
          >
            <path
              d="M14.3227 0.860652L15.5594 2.09849L8.81957 8.84065C8.71157 8.94933 8.58315 9.03558 8.44169 9.09444C8.30023 9.15329 8.14853 9.18359 7.99532 9.18359C7.8421 9.18359 7.6904 9.15329 7.54894 9.09444C7.40749 9.03558 7.27906 8.94933 7.17107 8.84065L0.427734 2.09849L1.6644 0.861818L7.99357 7.18982L14.3227 0.860652Z"
            ></path>
          </svg>
        </label>
        <ul
          id="dropdown-list"
          class="lg:absolute h-0 lg:h-max overflow-hidden lg:opacity-0 lg:top-0 lg:-z-10 lg:pt-[84px] lg:pointer-events-none lg:bg-oscuro lg:group-hover:opacity-100 lg:group-hover:pointer-events-auto transition-all duration-300 ease-in-out lg:p-6 flex flex-col gap-10 lg:gap-6 lg:-ml-5 px-6"
        >
          <li>
            <a
              href={`${base}/division-inyeccion`}
              data-astro-reload
              class="hover:text-acento font-medium transition-all duration-300 ease-in-out"
              >{t.divisionsInyeccion}</a
            >
          </li>
          <li>
            <a
              href={`${base}/division-matriceria`}
              data-astro-reload
              class="hover:text-acento font-medium transition-all duration-300 ease-in-out"
              >{t.divisionsMatriceria}</a
            >
          </li>
          <li>
            <a
              href={`${base}/division-dispositivos`}
              data-astro-reload
              class="hover:text-acento font-medium transition-all duration-300 ease-in-out"
              >{t.divisionsDispositivos}</a
            >
          </li>
        </ul>
      </li>
      <li class="max-[1024px]:w-full max-[1024px]:flex">
        <a
          href={`${base}/#about`}
          data-astro-reload
          class="hover:text-acento font-medium transition-all duration-300 ease-in-out max-[1024px]:py-6 max-[1024px]:border-t max-[1024px]:border-b max-[1024px]:w-full max-[1024px]:border-claro"
          >{t.quienessomos}</a
        >
      </li>
      <li class="max-[1024px]:w-full max-[1024px]:flex">
        <a
          href={`${base}/ser-parte`}
          data-astro-reload
          class="hover:text-acento font-medium transition-all duration-300 ease-in-out max-[1024px]:py-6 max-[1024px]:border-b max-[1024px]:w-full max-[1024px]:border-claro"
          >{t.trabajaconnosotros}</a
        >
      </li>
      <li class="max-[1024px]:w-full max-[1024px]:flex">
        <a
          href={`${base}/#contacto`}
          data-astro-reload
          class="hover:text-acento font-medium transition-all duration-300 ease-in-out max-[1024px]:py-6 max-[1024px]:border-b max-[1024px]:w-full max-[1024px]:border-claro"
          >{t.contacto}</a
        >
      </li>
    </ul>
    <div class="absolute left-5 lg:left-auto lg:right-5">
      <div id="custom-lang-select" class="relative inline-block text-left z-50">
        <button
          id="lang-toggle"
          aria-label="language-toggle"
          class="bg-[#333333] bg-[url('/arrow.svg')] bg-no-repeat bg-[right_6px_center] hover:bg-[#3f3f3f]/80 text-white font-medium rounded p-3 pr-7 flex items-center gap-2"
        >
          <span id="lang-flag">
            {
              base === "/en" ? (
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_252_26)">
                    <path
                      d="M0 4.5295V6.5H2.814L0 4.5295ZM2.332 15.5H6.5V12.5815L2.332 15.5ZM11.5 12.582V15.5H15.6675L11.5 12.582ZM0 11.5V13.4705L2.815 11.5H0ZM15.6685 2.5H11.5V5.4185L15.6685 2.5ZM18 13.471V11.5H15.1845L18 13.471ZM18 6.5V4.5295L15.1855 6.5H18ZM6.5 2.5H2.332L6.5 5.4185V2.5Z"
                      fill="#00247D"
                    />
                    <path
                      d="M12.57 11.5L17.426 14.9005C17.6627 14.6559 17.8331 14.3549 17.921 14.026L14.3135 11.5H12.57ZM6.50001 11.5H5.42951L0.574006 14.9C0.834506 15.165 1.16851 15.3545 1.54301 15.4425L6.50001 11.9715V11.5ZM11.5 6.5H12.5705L17.426 3.1C17.1608 2.8314 16.8251 2.64332 16.4575 2.5575L11.5 6.0285V6.5ZM5.42951 6.5L0.574006 3.1C0.33709 3.34456 0.166538 3.64557 0.0785065 3.9745L3.68601 6.5H5.42951Z"
                      fill="#CF1B2B"
                    />
                    <path
                      d="M18 10.5H10.5V15.5H11.5V12.582L15.6675 15.5H16C16.2656 15.4998 16.5285 15.4466 16.7733 15.3437C17.0181 15.2408 17.24 15.0901 17.426 14.9005L12.57 11.5H14.3135L17.921 14.026C17.9675 13.8575 18 13.683 18 13.5V13.471L15.1845 11.5H18V10.5ZM0 10.5V11.5H2.815L0 13.4705V13.5C0 14.0455 0.2195 14.539 0.574 14.9L5.4295 11.5H6.5V11.9715L1.543 15.442C1.69 15.477 1.842 15.5 2 15.5H2.332L6.5 12.5815V15.5H7.5V10.5H0ZM18 4.5C18.0005 3.97596 17.7942 3.47289 17.426 3.1L12.5705 6.5H11.5V6.0285L16.4575 2.5575C16.3077 2.52076 16.1542 2.50146 16 2.5H15.6685L11.5 5.4185V2.5H10.5V7.5H18V6.5H15.1855L18 4.5295V4.5ZM6.5 2.5V5.4185L2.332 2.5H2C1.73437 2.5003 1.47147 2.55352 1.22664 2.65653C0.9818 2.75955 0.759938 2.91031 0.574 3.1L5.4295 6.5H3.686L0.0785 3.9745C0.0290784 4.1454 0.00267879 4.32212 0 4.5L0 4.5295L2.814 6.5H0V7.5H7.5V2.5H6.5Z"
                      fill="#EEEEEE"
                    />
                    <path
                      d="M10.5 7.5V2.5H7.5V7.5H0V10.5H7.5V15.5H10.5V10.5H18V7.5H10.5Z"
                      fill="#CF1B2B"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_252_26">
                      <rect width="18" height="18" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              ) : (
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_311_28)">
                    <path
                      d="M18 13.4999C18 14.0303 17.7893 14.539 17.4142 14.9141C17.0391 15.2892 16.5304 15.4999 16 15.4999H2C1.46957 15.4999 0.960859 15.2892 0.585786 14.9141C0.210714 14.539 0 14.0303 0 13.4999V4.49988C0 3.96944 0.210714 3.46074 0.585786 3.08566C0.960859 2.71059 1.46957 2.49988 2 2.49988H16C16.5304 2.49988 17.0391 2.71059 17.4142 3.08566C17.7893 3.46074 18 3.96944 18 4.49988V13.4999Z"
                      fill="#C60A1D"
                    />
                    <path d="M0 5.99988H18V11.9999H0V5.99988Z" fill="#FFC400" />
                    <path
                      d="M4.50002 8.5V10C4.50002 10.3978 4.65805 10.7794 4.93935 11.0607C5.22066 11.342 5.60219 11.5 6.00002 11.5C6.39784 11.5 6.77937 11.342 7.06068 11.0607C7.34198 10.7794 7.50002 10.3978 7.50002 10V8.5H4.50002Z"
                      fill="#EA596E"
                    />
                    <path d="M6 8H7.5V9.5H6V8Z" fill="#F4A2B2" />
                    <path
                      d="M4.50002 8H6.00002V9.5H4.50002V8Z"
                      fill="#DD2E44"
                    />
                    <path
                      d="M6.00002 7.99988C6.82844 7.99988 7.50002 7.66409 7.50002 7.24988C7.50002 6.83566 6.82844 6.49988 6.00002 6.49988C5.17159 6.49988 4.50002 6.83566 4.50002 7.24988C4.50002 7.66409 5.17159 7.99988 6.00002 7.99988Z"
                      fill="#EA596E"
                    />
                    <path
                      d="M6.00002 7.24988C6.82844 7.24988 7.50002 7.08198 7.50002 6.87488C7.50002 6.66777 6.82844 6.49988 6.00002 6.49988C5.17159 6.49988 4.50002 6.66777 4.50002 6.87488C4.50002 7.08198 5.17159 7.24988 6.00002 7.24988Z"
                      fill="#FFAC33"
                    />
                    <path
                      d="M3.5 8H4V11.5H3.5V8ZM8 8H8.5V11.5H8V8Z"
                      fill="#99AAB5"
                    />
                    <path
                      d="M3 11H4.5V11.5H3V11ZM7.5 11H9V11.5H7.5V11ZM3.5 7.5H4V8H3.5V7.5ZM8 7.5H8.5V8H8V7.5Z"
                      fill="#66757F"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_311_28">
                      <rect width="18" height="18" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              )
            }
          </span>
        </button>

        <div
          id="lang-menu"
          class="hidden absolute left-0 lg:left-auto lg:right-0 mt-2 w-36 origin-top-right rounded-md bg-[#363636] shadow-lg ring-1 ring-black ring-opacity-5"
        >
          <ul class="text-sm text-gray-700 rounded-md overflow-hidden">
            <li>
              <a
                href="/"
                class="w-full text-left text-claro px-6 py-4 lg:px-4 lg:py-2 hover:bg-[#313131] flex items-center gap-2"
                data-lang="es"
                class="lang-option"
              >
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_311_28)">
                    <path
                      d="M18 13.4999C18 14.0303 17.7893 14.539 17.4142 14.9141C17.0391 15.2892 16.5304 15.4999 16 15.4999H2C1.46957 15.4999 0.960859 15.2892 0.585786 14.9141C0.210714 14.539 0 14.0303 0 13.4999V4.49988C0 3.96944 0.210714 3.46074 0.585786 3.08566C0.960859 2.71059 1.46957 2.49988 2 2.49988H16C16.5304 2.49988 17.0391 2.71059 17.4142 3.08566C17.7893 3.46074 18 3.96944 18 4.49988V13.4999Z"
                      fill="#C60A1D"></path>
                    <path d="M0 5.99988H18V11.9999H0V5.99988Z" fill="#FFC400"
                    ></path>
                    <path
                      d="M4.50002 8.5V10C4.50002 10.3978 4.65805 10.7794 4.93935 11.0607C5.22066 11.342 5.60219 11.5 6.00002 11.5C6.39784 11.5 6.77937 11.342 7.06068 11.0607C7.34198 10.7794 7.50002 10.3978 7.50002 10V8.5H4.50002Z"
                      fill="#EA596E"></path>
                    <path d="M6 8H7.5V9.5H6V8Z" fill="#F4A2B2"></path>
                    <path d="M4.50002 8H6.00002V9.5H4.50002V8Z" fill="#DD2E44"
                    ></path>
                    <path
                      d="M6.00002 7.99988C6.82844 7.99988 7.50002 7.66409 7.50002 7.24988C7.50002 6.83566 6.82844 6.49988 6.00002 6.49988C5.17159 6.49988 4.50002 6.83566 4.50002 7.24988C4.50002 7.66409 5.17159 7.99988 6.00002 7.99988Z"
                      fill="#EA596E"></path>
                    <path
                      d="M6.00002 7.24988C6.82844 7.24988 7.50002 7.08198 7.50002 6.87488C7.50002 6.66777 6.82844 6.49988 6.00002 6.49988C5.17159 6.49988 4.50002 6.66777 4.50002 6.87488C4.50002 7.08198 5.17159 7.24988 6.00002 7.24988Z"
                      fill="#FFAC33"></path>
                    <path
                      d="M3.5 8H4V11.5H3.5V8ZM8 8H8.5V11.5H8V8Z"
                      fill="#99AAB5"></path>
                    <path
                      d="M3 11H4.5V11.5H3V11ZM7.5 11H9V11.5H7.5V11ZM3.5 7.5H4V8H3.5V7.5ZM8 7.5H8.5V8H8V7.5Z"
                      fill="#66757F"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_311_28">
                      <rect width="18" height="18" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg> Español
              </a>
            </li>
            <li>
              <a
                href="/en/"
                class="w-full text-left text-claro px-6 py-4 lg:px-4 lg:py-2 hover:bg-[#313131] flex items-center gap-2"
                data-lang="en"
                class="lang-option"
              >
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_252_26)">
                    <path
                      d="M0 4.5295V6.5H2.814L0 4.5295ZM2.332 15.5H6.5V12.5815L2.332 15.5ZM11.5 12.582V15.5H15.6675L11.5 12.582ZM0 11.5V13.4705L2.815 11.5H0ZM15.6685 2.5H11.5V5.4185L15.6685 2.5ZM18 13.471V11.5H15.1845L18 13.471ZM18 6.5V4.5295L15.1855 6.5H18ZM6.5 2.5H2.332L6.5 5.4185V2.5Z"
                      fill="#00247D"></path>
                    <path
                      d="M12.57 11.5L17.426 14.9005C17.6627 14.6559 17.8331 14.3549 17.921 14.026L14.3135 11.5H12.57ZM6.50001 11.5H5.42951L0.574006 14.9C0.834506 15.165 1.16851 15.3545 1.54301 15.4425L6.50001 11.9715V11.5ZM11.5 6.5H12.5705L17.426 3.1C17.1608 2.8314 16.8251 2.64332 16.4575 2.5575L11.5 6.0285V6.5ZM5.42951 6.5L0.574006 3.1C0.33709 3.34456 0.166538 3.64557 0.0785065 3.9745L3.68601 6.5H5.42951Z"
                      fill="#CF1B2B"></path>
                    <path
                      d="M18 10.5H10.5V15.5H11.5V12.582L15.6675 15.5H16C16.2656 15.4998 16.5285 15.4466 16.7733 15.3437C17.0181 15.2408 17.24 15.0901 17.426 14.9005L12.57 11.5H14.3135L17.921 14.026C17.9675 13.8575 18 13.683 18 13.5V13.471L15.1845 11.5H18V10.5ZM0 10.5V11.5H2.815L0 13.4705V13.5C0 14.0455 0.2195 14.539 0.574 14.9L5.4295 11.5H6.5V11.9715L1.543 15.442C1.69 15.477 1.842 15.5 2 15.5H2.332L6.5 12.5815V15.5H7.5V10.5H0ZM18 4.5C18.0005 3.97596 17.7942 3.47289 17.426 3.1L12.5705 6.5H11.5V6.0285L16.4575 2.5575C16.3077 2.52076 16.1542 2.50146 16 2.5H15.6685L11.5 5.4185V2.5H10.5V7.5H18V6.5H15.1855L18 4.5295V4.5ZM6.5 2.5V5.4185L2.332 2.5H2C1.73437 2.5003 1.47147 2.55352 1.22664 2.65653C0.9818 2.75955 0.759938 2.91031 0.574 3.1L5.4295 6.5H3.686L0.0785 3.9745C0.0290784 4.1454 0.00267879 4.32212 0 4.5L0 4.5295L2.814 6.5H0V7.5H7.5V2.5H6.5Z"
                      fill="#EEEEEE"></path>
                    <path
                      d="M10.5 7.5V2.5H7.5V7.5H0V10.5H7.5V15.5H10.5V10.5H18V7.5H10.5Z"
                      fill="#CF1B2B"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_252_26">
                      <rect width="18" height="18" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                English
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  #nav-menu {
    transition: top 0.3s ease-in-out;
  }
  #menu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
  }
  #hamburger-toggle {
    opacity: 0;
    cursor: pointer;
    position: absolute;


  }
  #hamburger {
    display: block;
    padding: 0.5rem;
    cursor: pointer;
    width: clamp(16px, 10vmin, 32px);
    height: clamp(16px, 10vmin, 32px);
    box-sizing: content-box;
    transition: transform 0.2s ease;
  }
  #hamburger .slice {
    --slice-height: 2px;
    display: block;
    position: relative;
    width: 100%;
    height: var(--slice-height, 2px);
    border-radius: var(--slice-height);
    transition: all 0.2s ease;
    background-color: #f8f8f8;
    opacity: 90%;
  }
  #hamburger .slice {
    margin-top: 22%; /* Fallback to produce something hamburger-ish if calc is not available */
    margin-top: calc(33% - var(--slice-height));
    top: calc((33% - var(--slice-height)) / -2);
  }

  #hamburger-toggle:checked ~ #menu {
    visibility: visible;
    transform: rotateX(0deg);
    opacity: 1;
  }
  #hamburger-toggle:checked ~ #hamburger .slice:nth-child(1) {
    top: calc(50% - 33% + var(--slice-height) / 2);
    transform: rotate(45deg);
  }
  #hamburger-toggle:checked ~ #hamburger .slice:nth-child(2) {
    opacity: 0;
  }
  #hamburger-toggle:checked ~ #hamburger .slice:nth-child(3) {
    top: calc(-50% + var(--slice-height) / 2);
    transform: rotate(-45deg);
  }

  #lang-toggle {
    background-size: 0.9rem;
  }

  @media (width < 1024px) {
    .lista {
      transform: translateX(320px);
      transition: transform 0.3s ease-in-out;
    }
    .open {
      transform: translateX(0);
    }
  }
</style>

<script>
  function initHeaderLogic() {
    const nav = document.getElementById("navigation");
    const hamburger = document.getElementById(
      "hamburger-toggle"
    ) as HTMLInputElement;

    if (nav && hamburger && !nav.dataset.bound) {
      nav.dataset.bound = "1";

      const updateHamburgerARIA = () => {
        const menu = document.getElementById("menu");
        if (!menu) return;
        menu.setAttribute("aria-hidden", !hamburger.checked ? "true" : "false");
        hamburger.setAttribute(
          "aria-expanded",
          hamburger.checked ? "true" : "false"
        );
      };

      hamburger.addEventListener("change", updateHamburgerARIA);

      window.addEventListener("click", (event) => {
        const eventPath = event.composedPath();
        const isTargeted = eventPath.includes(nav);
        if (!isTargeted) {
          hamburger.checked = false;
          updateHamburgerARIA();
        }
      });

      const overlay = document.getElementById("overlay");
      const abrirMenu = () => {
        const lista = document.getElementById("lista");
        if (!lista || !overlay) return;
        lista.classList.toggle("open");
        overlay.classList.toggle("opacity-0");
        overlay.classList.toggle("opacity-50");
        overlay.classList.toggle("pointer-events-none");
        document.body.classList.toggle("overflow-y-hidden");
      };

      if (overlay) {
        overlay.addEventListener("click", () => {
          hamburger.checked = false;
          abrirMenu();
        });
      }

      const anchors = document.querySelectorAll("#lista a");
      anchors.forEach((a) =>
        a.addEventListener("click", () => {
          if (window.innerWidth < 1024) {
            hamburger.checked = false;
            abrirMenu();
          }
        })
      );

      hamburger.addEventListener("change", abrirMenu);

      const dropdown = document.getElementById("dropdown-toggle");
      const abrirDropdown = () => {
        const listaDd = document.getElementById("dropdown-list");
        const ddArrow = document.getElementById("dd-arrow");
        if (window.innerWidth < 1024 && listaDd && ddArrow) {
          listaDd.classList.toggle("py-10");
          listaDd.classList.toggle("h-max");
          listaDd.classList.toggle("h-0");
          ddArrow.classList.toggle("rotate-180");
        }
      };

      if (dropdown) {
        dropdown.addEventListener("change", abrirDropdown);
      }
    }

    const langToggle = document.getElementById("lang-toggle");
    const langMenu = document.getElementById("lang-menu");
    if (langToggle && langMenu && !langToggle.dataset.bound) {
      langToggle.dataset.bound = "1";

      langToggle.addEventListener("click", () => {
        langMenu.classList.toggle("hidden");
      });

      document.addEventListener("click", (e) => {
        if (
          !langMenu.contains(e.target as HTMLElement) &&
          !langToggle.contains(e.target as HTMLElement)
        ) {
          langMenu.classList.add("hidden");
        }
      });

      const currentPath = window.location.pathname;
      const isEnglish = currentPath.startsWith("/en");

      document.querySelectorAll("[data-lang]").forEach((btn) => {
        btn.addEventListener("click", (e) => {
          const selectedLang = btn.getAttribute("data-lang");
          if (!selectedLang) return;

          // Ya está en el idioma correcto, no hacer nada
          if (
            (selectedLang === "en" && isEnglish) ||
            (selectedLang === "es" && !isEnglish)
          ) {
            e.preventDefault();
            return;
          }

          localStorage.setItem("preferredLang", selectedLang);

          let newPath = currentPath;
          if (selectedLang === "en") {
            newPath = "/en" + currentPath;
          } else {
            newPath = currentPath.replace(/^\/en/, "") || "/";
          }

          document.documentElement.classList.add("disable-smooth");
          document.body.classList.add("disable-smooth");

          history.replaceState({}, "", newPath);
          window.location.href = newPath;
        });
      });
    }

    const preferredLang = localStorage.getItem("preferredLang");
    const currentPath = window.location.pathname;
    const isEnglish = currentPath.startsWith("/en");

    if (preferredLang === "en" && !isEnglish) {
      const newPath = "/en" + currentPath;
      history.replaceState({}, "", newPath);
      window.location.href = newPath;
    } else if (preferredLang === "es" && isEnglish) {
      const newPath = currentPath.replace(/^\/en/, "") || "/";
      history.replaceState({}, "", newPath);
      window.location.href = newPath;
    }
  }

  document.addEventListener("DOMContentLoaded", initHeaderLogic);
  document.addEventListener("astro:page-load", initHeaderLogic);
</script>

