---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  keywords?: string;
  pageId?: string;
  lang: string;
  base: string;
  t: Record<string, any>;
}

const { title, description, keywords, pageId, lang, base, t } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />

    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://kzgroup.com.ar/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/e62a5301-4fe2-4a8a-8042-c47b0b4c7ccc.png?token=uVEz_Lf86Vgq--DdMlS796ptp2Gv4tah9PgO3-WNoCk&height=630&width=1200&expires=33277364910"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="kzgroup.com.ar" />
    <meta
      property="twitter:url"
      content="https://kzgroup.com.ar/"
    />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/e62a5301-4fe2-4a8a-8042-c47b0b4c7ccc.png?token=uVEz_Lf86Vgq--DdMlS796ptp2Gv4tah9PgO3-WNoCk&height=630&width=1200&expires=33277364910"
    />

    <meta name="viewport" content="width=device-width" />
    <ClientRouter />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="alternate" hreflang="es" href="https://tusitio.com{base}" />
    <link rel="alternate" hreflang="en" href="https://tusitio.com/en{base}" />

    <title>{title}</title>
    <script is:inline>
      document.documentElement.classList.add("js");
    </script>
  </head>
  <body :transitions class="overflow-x-hidden" data-pageid={pageId}>
    <Header base={base} t={t.header} />
    <slot />
    <Footer t={t.footer} base={base} />

    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js" is:inline></script>
  </body>
</html>
<style is:global>
  :root {
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    /* scrollbar-gutter: stable; */
    text-wrap: pretty;
    font-family: "Nunito Sans", serif;
    background-color: #f8f8f8;
    color: #f8f8f8;
    
  }

  body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    
  }

  .contenedor {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
  }

html.disable-smooth,
body.disable-smooth {
  scroll-behavior: auto !important;
}


  

</style>
